/* Contenitore principale */
.outher-cont {
  position: absolute; /* Posiziona il contenitore in relazione al viewport */
  left: 50%; /* Posiziona il centro del contenitore al 50% della larghezza del viewport */
  bottom: 50%; /* Posiziona il bordo inferiore del contenitore al 50% della altezza del viewport */
  transform: translateX(-50%) translateY(22.5%); /* Scala verso il basso per posizionare il bordo inferiore */
  background-color: transparent;
  margin-left: 0; /* Rimuovi il margine a sinistra */
  width: calc(32.38vw * 0.75); /* Scala la larghezza */
  aspect-ratio: 1.25;
}

.containerimg {
  display: flex; /* Abilita Flexbox */
  justify-content: center; /* Allinea al centro orizzontalmente */
  background-color: transparent;
  width: 100%; /* Imposta la larghezza del contenitore */
}

.triangoloNero2 {
  width: 3%; /* Scala la larghezza */
  background-color: transparent;
}

.containerScheda {
  width: calc(32.38vw * 0.75); /* Scala la larghezza */
  aspect-ratio: 1.46;

  
  background-color: #E7E0D0;

  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.075); /* Scala l'ombra */
  border: 1.5px solid black; /* Scala il bordo */
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.closeContainer {
  position: absolute; /* Posiziona il pulsante in modo assoluto all'interno del contenitore */
  top: 0px; /* Posiziona il pulsante vicino alla parte superiore */
  right: 0px; /* Posiziona il pulsante vicino alla parte destra */
  background-color: black;
  color: white;
  border: none;
  padding: 1.5%; /* Scala il padding */
  
  

  border-radius: 0px;
  border-bottom-left-radius: 3%; /* Scala il border-radius */
  transition: background-color 0.3s;
}



.closeScheda {
  color: white;
  background-color: transparent; /* Sfondo trasparente per un look pulito */
  cursor: pointer;
  border: none; /* Nessun bordo per un aspetto minimal */
  font-size: clamp(0.6rem, 0.9vw, 1.5rem); /* Scala la dimensione del testo */
}

.info {
  margin: 7.5%; /* Scala il margine */
}

.header {
  margin-top: 3%; /* Scala il margine */
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.localeTitle {
  font-size: clamp(1rem, 1.425vw, 1.875rem); /* Scala la dimensione del testo */
  font-weight: bold;
  color: #000;
}

.shareButton {
  background-color: black;
  color: white;
  border: none;
  padding: 2.25%; /* Scala il padding */
  cursor: pointer;
  font-size: clamp(0.6rem, 0.75vw, 1.5rem); /* Scala la dimensione del testo */
  border-radius: 3.75px; /* Scala il border-radius */
  transition: background-color 0.3s;
}

.shareButton:hover {
  background-color: #444;
}

.divider {
  width: 100%;
  height: 0.6%; /* Scala l'altezza */
  background-color: #000;
  margin-top: 1.5%; /* Scala il margine */
}

.localeLink {
  display: block;
  margin: clamp(11.25px, 3%, 75%); /* Scala il margine */
  font-size: clamp(0.75rem, 0.9vw, 1.5rem); /* Scala la dimensione del testo */
  color: #007bff;
  text-decoration: none;
}

.localeLink:hover {
  text-decoration: underline;
}

.buttonContainer {
  display: flex;
  width: 100%;
  margin-top: 6%; /* Scala il margine */
}

.mapButton, .directionsButton, .websiteButton {
  background-color: black;
  color: white;
  border: none;
  padding: 2.25%; /* Scala il padding */
  cursor: pointer;
  font-size: clamp(0.6rem, 0.9vw, 1.5rem); /* Scala la dimensione del testo */
  border-radius: 3.75px; /* Scala il border-radius */
  transition: background-color 0.3s;
}

.mapButton {
  width: 100%;
}

.directionsButton {
  margin-left: 1.5%; /* Scala il margine */
}

.mapButton:hover, .directionsButton:hover {
  background-color: #444;
}

.websiteButtonContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 1.5%; /* Scala il margine */
}

.websiteButton {
  width: 100%;
}

.websiteButton:hover {
  background-color: #444;
}



@media (orientation: portrait) {
  .outher-cont {
    width: calc(68.38vw * 0.75); /* Scala la larghezza */
  }

  .containerScheda {
    width: calc(68.38vw * 0.75); /* Scala la larghezza */
  }

  .info {
    margin: 4.5%; /* Scala il margine */
    margin-top: 6%;
  }

  .localeTitle {
    font-size: 0.825rem; /* Scala la dimensione del testo */
    font-weight: bold;
    color: #000;
  }

  .localeLink {
    display: block;
    margin: clamp(11.25px, 3%, 75%); /* Scala il margine */
    font-size: 0.6rem; /* Scala la dimensione del testo */
    color: #007bff;
    text-decoration: none;
  }
}
