
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  #root {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1em;
    font-family: sans-serif;
    color: #333;
    background-color: #c19e9e;

  }

 

  /* height of the container */
  .leaflet-container {
    height: 100vh;
    width: 0%;
  }
  
  .cluster-icon {
    background-color: #333;
    height: 2em;
    width: 2em;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 1.2rem;
    box-shadow: 0 0 0px 5px #fff;
  }

.icon-red svg {
  color: red;
}

.icon-green svg {
  color: green;
}

.icon-blue svg {
  color: blue;
}
  

  

.app-container {
  position: relative; /* Questo permette ai figli di essere posizionati relativamente a questo contenitore */
  width: 100vw; /* Assicurati che il contenitore occupi tutta la larghezza della finestra */
  height: 100vh; /* Assicurati che il contenitore occupi tutta l'altezza della finestra */
  
}

.map-container {
  position: absolute; /* Posiziona la mappa in modo assoluto */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1; /* Imposta uno z-index inferiore */
}

.food-search-container {
  position: absolute; /* Posiziona FoodSearch in modo assoluto */
  top: 50%; /* Posiziona il centro verticale del contenitore al 50% della pagina */
  left: 50%; /* Posiziona il centro orizzontale del contenitore al 50% della pagina */
  transform: translate(-50%, -50%); /* Sposta indietro il contenitore per centrarlo esattamente */
  width: 100vw; /* Adatta la larghezza come necessario */
  height: 100vh; /* Adatta l'altezza come necessario */
  z-index: 2; /* Imposta uno z-index superiore */
  display: flex;
  flex-direction: column; /* Per allineare verticalmente gli elementi all'interno del contenitore */
  justify-content: center; /* Centra verticalmente gli elementi all'interno */
  align-items: center; /* Centra orizzontalmente gli elementi all'interno */
  background-color: #BEC4CB; /* Colore di sfondo per visibilità */
  border-radius: 2vw; /* Arrotonda gli angoli */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Leggera ombra */
  padding: 2%; /* Spaziatura interna */
}

.scheda-locale-container{
  position: absolute; /* Posiziona FoodSearch in modo assoluto */
  width: 100vw; /* Adatta la larghezza come necessario */
  height: 100vh; /* Adatta l'altezza come necessario */
  z-index: 3; /* Imposta uno z-index superiore */
  display: flex;
  flex-direction: column; /* Per allineare verticalmente gli elementi all'interno del contenitore */
  justify-content: center; /* Centra verticalmente gli elementi all'interno */
  align-items: center; /* Centra orizzontalmente gli elementi all'interno */
  background-color: transparent;
  border-radius: 2vw; /* Arrotonda gli angoli */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Leggera ombra */
  padding: 2%; /* Spaziatura interna */
}