.custom-button {
    background-color: white;
    border: none;
    display: flex;
    align-items: center;
    cursor: pointer;
  }

.src-icon {
    
    width: 1rem;
    border-radius: 0.5vh;
}

.x-icon{
    width: 0.8rem;

}