.custom-button {
    background-color: white;
    border: none;
    display: flex;
    align-items: center;
    cursor: pointer;
  }

.src-icon {
    margin-right: 8px;
    width: 1rem;
    border-radius: 2vh;
}

.x-icon{
    width: 0.8rem;

}