# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

outdated_json
vite-project/public/ranking/Gambero_Rosso/TreForchetteGamberoRosso2024.json
vite-project/public/ranking/Gambero_Rosso/TreRotelleGamberoRosso2024.json
vite-project/public/ranking/Gambero_Rosso/TreSpicchiGamberoRosso2024.json