

.food-search-container { 
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem !important;
  width: 43vw;
  height: 32rem;
  
  border: 1px solid #ccc;
  border-radius: 2vw;
  background-color: #CCB8DA;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  

}


.cBttn{
  display: flex; /* Usa Flexbox per allineare gli elementi interni */
 background-color: transparent;
 width: 100%;
 min-height: 1.5rem;

 
 border: 0px solid #ccc;
 right: 0;
 padding: 0; /* Removes any default padding */
 cursor: pointer;

}
.cBttn img {
  margin-left: auto;
  width: 1.5rem; /* Maintains aspect ratio */
  height: auto;
}

.top-buttons {
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  width: 100%; /* Aumenta la larghezza complessiva */
  height: 12%;
  min-height: 3rem;
  margin-top: 0.8rem;
  margin-bottom: 0.8rem; /* Riduci lo spazio inferiore */
}

.top-buttons > button {
  flex: 1; /* Rende i pulsanti più lunghi */
  margin: 0 2px; /* Riduce lo spazio tra i pulsanti */
}
  
  .top-buttons button {
    width: 45%; /* Bottoni che occupano circa la metà del quadrato ciascuno */
    min-height: 3rem;
    border-radius: 2vw; /* Arrotonda gli angoli dei pulsanti */
    border: 0px solid; /* Bordi di colore blu */
    background-color: #F8F8FF; /* Sfondo trasparente */
    color: #000000; /* Colore del testo blu */
    font-weight: bold; /* Testo in grassetto */
    font-size: 1.35rem;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s; /* Transizione per il cambio di colore */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Ombra del pulsante */
  }
  .top-buttons button:hover {
    background-color: #6F5379; /* Sfondo blu al passaggio del mouse */
    
  }
  .top-buttons button.active {
    background: #6F5379; /* Gradiente blu */
    color: #F8F8FF; /* Colore del testo bianco per il pulsante attivo */
}

  /* Contenitore scuro */
  .dark-container {
    background: #6F5379; /* Gradiente dal blu scuro al grigio scuro */
    padding: 3%;
    padding-bottom: 5%;
    border-radius: 1vw;
    width: 100%;
    height: 20rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Leggera ombra per evidenziare */
    
    
  }
  
  
  .food-list-container {
    display: flex;


    flex-wrap: nowrap;
    overflow-x: auto;
    width: 100%;
    height: 75%;
    padding: 0.5%;
    padding-bottom: 3%;
    
    
    /* Firefox styles for scrollbar */
    scrollbar-width: thin; /* Rende la scrollbar sottile */
    scrollbar-color: #CCB8DA #0000001a; /* Colore del thumb e del track per Firefox */
}





  .search-bar {
    width: 100%;
    margin-left: 0%;
    height: 18% !important;
    margin-top: 0.8rem;
    padding: 2%;
    padding-left: 4% !important;
    margin-bottom: 0.8rem;
    border-radius: 2vw; /* Arrotonda gli angoli della barra di ricerca */
    border: 0px solid #007bff; /* Bordi di colore blu */
    background-color: #F8F8FF; /* Sfondo bianco */
    color: #333; /* Colore del testo */
    font-size: 1rem; /* Dimensione del testo */
    outline: none; /* Rimuove il bordo di focus predefinito del browser */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); /* Leggera ombra per evidenziare */
    transition: border-color 0.3s, box-shadow 0.3s; /* Transizione per il cambio di colore del bordo e ombra */
  }
  
  .search-bar:focus {
    border-color: #0056b3; /* Cambia il colore del bordo quando la barra di ricerca è attiva */
    box-shadow: 0 0 8px rgba(0, 91, 255, 0.3); /* Cambia l'ombra quando è attiva */
  }
  

    
  .search-button {
    width: 40%;
    height: 12%;
    min-height: 3rem;
    margin-top: 0.8rem;
    margin-left: auto;
    margin-right: auto;
    border-radius: 2vw;
    font-weight: bold; /* Testo in grassetto */
    background-color: #6F5379;
    color: #F8F8FF;
    cursor: pointer;
    display: block; /* Aggiungi display: block per centrare il pulsante orizzontalmente */
}



  .search-button:hover {
    background-color: #000000 !important;
  }

  .bttnSearch{
    width: 100%;
    margin-top: 0.8rem;
    height: 12%;
    min-height: 3rem;
    background-color: transparent !important;

    /* Aggiungi Flexbox */
    display: flex;
    align-items: center; /* Centra verticalmente */
    justify-content: center; /* Se vuoi centrarlo anche orizzontalmente */
  }

  .search-button1{
    width: 40%;
    height: 80%;
    
    margin-left: 59%;
    border-radius: 2vw;
    background-color: #6F5379;
    
    font-size: 1.35rem;
    color: #F8F8FF;
    cursor: pointer;
    display: block; /* Aggiungi display: block per centrare il pulsante orizzontalmente */
    transition: background-color 0.3s, color 0.3s; /* Transizione per il cambio di colore */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Ombra del pulsante */
    border: 0px solid #000000;


  }

  .top-buttons .food_icon{
    width: 2px !important;
    height: 2px !important;
    margin-left: 10px; /* Spazio tra il testo e l'immagine */



  }




  @media (orientation: portrait) {
    
    
    .food-search-container {
      width: 90vw;
      border-radius: 6vw;
      height: 60%;
      min-height: 25rem;
    }

    .top-buttons {

      height: 9%;

    }


    .top-buttons button {
      border-radius: 6vw; /* Arrotonda gli angoli dei pulsanti */
      
    }

    .dark-container {

      border-radius: 6vw;
      min-height: 60%;

    }



    .search-bar {

      border-radius: 6vw; 
      height: 16%;
      width: 100%;
      margin-top: 0.8rem;
    }
  
    .search-button1{
      border-radius: 6vw; 
    }
    


    


  }
  

  
  