.food-item {
    flex: 0 0 auto; /* Flessibile ma non si riduce */

    height: 90%;

    aspect-ratio: 1.1;
    margin-right: 4%;
    border-radius: 2vw; /* Angoli stondati della card */
    background-color: #8AD1D9; /* Sfondo bianco per la card */
    padding: 0px; /* Spazio interno della card */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Ombra leggera per un effetto di profondità */
    transition: transform 0.3s, box-shadow 0.3s; /* Transizioni per animazioni fluide */
  }
  
  .food-item:hover {
    transform: scale(1.05); /* Leggera ingrandimento quando si passa il mouse */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); /* Ombra più intensa al passaggio del mouse */
  }
  
  .food-item .food-icon {
    font-size: 32px; /* Dimensione più grande per l'emoji */
    margin-bottom: 16px; /* Spazio tra l'emoji e il testo */
  }
  
  .food-item p {
    font-size: 14px; /* Dimensione del testo */
    color: #333; /* Colore del testo */
    margin: 0; /* Rimuove margini predefiniti del paragrafo */
  }


  
  @media (orientation: portrait) {
    
    .food-item {
      margin-right: 6%;
      height: 75%;
      margin-top: 0%;
  
      aspect-ratio: 1.1;

      border-radius: 4vw; /* Angoli stondati della card */

    }
    
  

  }
  