.outer-container {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center content horizontally */
  margin: 10px; /* Add space around each container */
}

.container-wrapper {
  position: relative;
  width: 10rem; /* Set a fixed width */
  height: 10rem; /* Set a fixed height to ensure it’s square */
  overflow: hidden;
  margin: 0rem; /* Add space between containers */

}

.container {
  background-color: #BFCFEF; /* Light blue background */
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px; /* Rounded corners */
  cursor: pointer;
}

.container img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover; /* Ensure images fill the container while maintaining aspect ratio */
}

/* Add inner shadow on click */
.container.clicked {
  box-shadow: inset 0 0 0 6px #5B96E1;
}

.food-icon-isEmoji {
  height: 80%;
  width: auto;
}

.food-icon-isNotEmoji {
  height: 85%;
  width: auto;
  object-fit: cover;
  border-radius: 1rem;
}



.food-name {
  color: white;
  text-align: center;
  margin-top: 10px;
  font-size: 1rem;
  white-space: nowrap;
}


